@import "modern-normalize/modern-normalize.css";

:root {
  --color-white: #ffffff;
  --color-dark-white: #f7f8fa;
  --color-white-10: rgba(89, 177, 122, 0.1);
  --color-black: #1d1e21;
  --color-green: #59b17a;
  --color-dark-green: #3f945f;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-black);
  background-color: var(--color-dark-white);
}

html,
body {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-light-grey);
  opacity: 1;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.container,
.authContainer {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 375px;
}

@media screen and (min-width: 768px) {
  .container,
  .authContainer {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container,
  .authContainer {
    padding: 0 128px;
    max-width: 1440px;
  }

  .authContainer {
    padding: 0 100px;
  }
}
