.pageWrapper {
  padding: 106px 0 191px 0;
}

@media screen and (min-width: 768px) {
  .pageWrapper {
    padding: 168px 0 250px 0;
  }
}

@media screen and (min-width: 1440px) {
  .pageWrapper {
    padding: 226px 0 262px 0;
    display: grid;
    grid-template-columns: 614px 1fr;
    gap: 54px;
  }
}
