.inputsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.radiosWrapper {
  margin-top: 20px;
}

.radioTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  color: #1d1e21;
  margin-bottom: 14px;
}

.radioBtnsWrapper {
  display: flex;
  gap: 8px;
}

.customRadio {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid rgba(18, 20, 23, 0.2);
  cursor: pointer;
  transition: all 250ms linear;
}

.activeRadio {
  position: relative;
  border-color: #59b17a;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #59b17a;
  }
}

.radioLabel {
  display: flex;
  gap: 8px;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(29, 30, 33, 0.6);
  transition: color 250ms linear;
}

.activeLabel {
  color: #1d1e21;
}

.buttonWrapper {
  max-width: 155px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .radiosWrapper {
    margin-top: 24px;
  }

  .inputsWrapper {
    grid-template-columns: repeat(3, 200px);
    gap: 24px 14px;
  }

  .buttonWrapper {
    max-width: 167px;
  }
}
