.input {
  width: 100%;
  height: 44px;
  border-radius: 60px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #1d1e21;
  padding: 0 18px;

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(29, 30, 33, 0.6);
  }
  &.primary {
    border: 1px solid rgba(29, 30, 33, 0.1);
  }
  &.normal {
    border: 1px solid rgba(29, 30, 33, 0.2);
  }
}

.label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  color: #1d1e21;
  margin: 0 0 8px 18px;
}

.inputWrapper {
  position: relative;
}

.error {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  position: absolute;
  bottom: -16px;
  left: 18px;
  color: red;
}
