.logoWrapper {
  padding: 25px 0;
}

@media screen and (min-width: 768px) {
  .logoWrapper {
    padding: 28px 0;
  }
}

@media screen and (min-width: 1440px) {
  .logoWrapper {
    padding: 29px 0;
  }
}
