.logoWrapper {
  padding-top: 25px;
}

@media screen and (min-width: 768px) {
  .logoWrapper {
    padding-top: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .logoWrapper {
    padding-top: 29px;
  }
}
